.funnel-row {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 1em;
        height: 12px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
    padding: 30px 0;
    .funnel-col {
        min-width: 300px;
        width: 300px;
        margin: 5px;
        min-height: 50px;
        .funnel-card {
            width: 100%;
            background-color: #ebecf0;
            border-radius: 5px;
            border: 1px solid #d2d2d2;
            display: flex;
            flex-direction: column;
            .funnel-card-header {
                padding: 0px 5px;
                min-height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                position: relative;
                .drop-button {
                    position: absolute;
                    top: -12px;
                    right: -3px;
                    border-radius: 100%;
                    padding: 0;
                    border: unset;
                    z-index: 999;
                    border: 5px solid white;
                    .icon {
                        font-size: 25px;
                        color: #d16161;
                    }
                    &:hover {
                        .icon {
                            transition: 0.5s;
                            font-size: 25px;
                            color: #b32c2c;
                        }
                    }
                }
                .funnel-card-header-input {
                    width: 100%;
                }
                .funnel-card-header-title {
                    cursor: default;
                    padding: 0px 5px;
                    font-weight: 500;
                    color: #4b575b;
                }
            }

            .funnel-card-body {
                padding: 0px 5px;
                min-height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                background-color: white;
            }
        }
        &.new {
            .funnel-card {
                border-style: dashed;
                background-color: #ebecf021;
                transition: 0.5s;
                .funnel-card-header {
                    cursor: pointer;
                    color: #ababab;
                }
                &:hover {
                    background-color: #ebecf064;
                }
            }
        }
    }

    &.editing {
        .funnel-col {
            cursor: all-scroll;
            .funnel-card-header {
                .funnel-card-header-title {
                    cursor: pointer;
                }
            }
            &.sortable-ghost {
                opacity: 0.1;
            }
            &.sortable-chosen {
                .funnel-card {
                    border: 1px dashed rgb(76, 76, 174);
                }
            }
        }
    }
}
